* {
    padding: 0;
    margin: 0;
    font-family:'Open Sans', sans-serif;
	/*font-family:Verdana;*/
}

body {
    /*background-color: #696969;*/
    background-color: #fff;
}

/*** HEADER ***/

#header {
    min-width: 900px;

    background-color: white;
    border-top: 0;
    margin: 0 auto;
    padding: 3px;
    width: 950px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    font-size: 14px;
    height: 30px;

    background: rgb(122,188,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

#header a {
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
}

#header a:hover {
    color: lightgrey;
}

#header ul {
    list-style-type: none;
}

#header li {
    padding-top: 6px;
    float:left;
}

#header-left {
    width: 75%;
    float:left;
}

#header-right {
    width: 25%;
    float:right;
}

#header-right ul li {
    float:right;
}

#header a:active, a:visited, a:link {
    color:white;
}

/*** CONTENT ***/

#wrap {
    width: 900px;
    margin: auto;
    font-size:13px;
    /*border: 1px solid red;*/
	margin: 0 auto;
}

#sidebar {
    float: left;
    width: 24.5%;

    /*border: 1px solid white;*/
}

#kast {
    background-color: #f5f5f5;

    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
}

#kast-pealkiri {
    font-size: 14px;
    font-weight: bold;

    /*background-color: #00bfff;*/

    background: rgb(122,188,255); /* Old browsers */

    background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */

    background: -ms-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */

    background: linear-gradient(to bottom,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */



    color: white;



    padding-left: 10px;

    padding-top: 7px;

    padding-bottom: 7px;



    -webkit-border-radius: 6px 6px 0px 0px;

    border-radius: 6px 6px 0px 0px;

}



#kast-sisu {
    padding: 6px;
    -webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
}



#block {
	margin: 0 auto;
    width: 95%;
    text-align: left;
}



#content {
    /*border: 1px solid white;*/
    background-color: #f5f5f5;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
}



#content-head {
    font-size: 14px;
    font-weight: bold;
    background: rgb(122,188,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
    color: white;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    -webkit-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
}

#content-box {
    padding: 6px;
    -webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
	border: 1px solid #E9E9E9;
	border-top: 0;
}
/*** FOOTER ***/

#footer {
	text-align: center;
	color: lightgrey;
	font-size: 11px;
}

/*** MICS ***/
#login table,input {
    font-size: 14px;
}

#login-submit {
    border: 1px solid lightgrey;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    color: black;
    padding: 1px;
    border-radius: 5px;
}

#login-submit:hover {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}



#content-box a {
    color: #4169e1;
}

#edetabelid {
    font-size: 12px;
    border-collapse:collapse;
	color: #4D4C4C;
}

#edetabelid a {
	color: #4D4C4C;
	text-decoration: none;
}

#edetabelid td {
    border: 1px solid lightgrey;
    background-color: white;
}

#edetabelid tr {
    border: 1px solid lightgrey;
    background-color: white;
}

#edetabelid th {
    border: 1px solid lightgrey;
    background-color: white;
}

#edetabelid td,tr,th {
    padding: 2px;
}

#sendmessage-sisu {
    max-width: 550px;
    max-height: 300px;
}

/* hosters tabel */
#hosters {
    font-size: 12px;
    border-collapse:collapse;
	color: #4D4C4C;
}

#hosters a {
	color: #4D4C4C;
	text-decoration: none;
}

#hosters td {
    border: 1px solid lightgrey;
    background-color: white;
	text-align: center;
}

#hosters tr {
    border: 1px solid lightgrey;
    background-color: white;
}

#hosters th {
    border: 1px solid lightgrey;
    background-color: white;
}

#hosters td,tr,th {
    padding: 2px;
}

.button_positive {
	background: green;
	font-weight: bold;
}

.button_negative {
	background: red;
	font-weight: bold;
}